@{
    ViewBag.Title = "Index";
}
<br /><br /><br />
<h2>
    @{ Html.Encode(ViewData["Message"]); }
</h2>
<br /><br />
@using (Html.BeginForm("HandleForm", "CloudVideoManager"))
{
    @:Camera id: <br /><br />
 @Html.DropDownList("cameraIdList")   <br />
    <br /> 
    @:Framerate: <br /><br />
  @Html.DropDownList("frameRate")     <br />
    <br /> 
    <br />
    @Html.CheckBox("renderAll") @Html.TextBox("pass")  <br /> 
    <br />
    <input type="submit" value="submit" />
}
<br />
<br />
<br />
<br />
<br />
<br />


<table style="background-color:azure;color:white;">
    <tr><th>Video url</th></tr>
    @foreach (System.Web.Mvc.SelectListItem url in ViewBag.VideoList)
    {
        <tr>
         <td><a href="@url.Text"> @url.Text.Substring(url.Text.LastIndexOf("/".ToCharArray()[0]), url.Text.Length - url.Text.LastIndexOf("/".ToCharArray()[0]))</a></td>
        </tr>
    }
</table>
 

